.form-sendMsg {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 20px auto;
  background-color: #fff;
  margin-top: 150px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  background-image: url('../assets/img.png');
  background-size: cover;
  /* Ajustez la taille de l'image pour couvrir l'ensemble du conteneur */
  background-position: center;
  opacity: 0.8;
}

.mail-send {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
}

.input-sendMsg,
.textarea-sendMsg {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  width: 100%;
}

.textarea-sendMsg {
  resize: vertical;
}

.file-input {
  margin-bottom: 15px;
}

.button-send {
  width: 100%;
  width: max-content;
}