.search-cht {
    background-image: url('../assets/search.png');
    background-position: left center;
    background-color: #fff;
    background-size: 20px;
    text-align: center;
    width: 14.2rem;
    border: 0 0 1rem 0;
    border-radius: 5px !important;
    margin: 1.9rem 0 1.8rem 1rem;
    background-repeat: no-repeat;
    background-color: none;
}