.settings-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: rgb(0, 0, 0);
}

.setting-box {
  padding: 3vh 3vw;
  overflow: hidden;
  background-color: rgba(126, 123, 123, 0.2);
  width: 60vw;
  margin: 5px 0 5px 5vw;
}

.setting-checkbox {
  padding: 3vh 3vw;
  margin: 5px 0 5px 3vw;
  background-color: rgba(126, 123, 123, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.setting-checkbox .option {
  margin-bottom: 30px;
}

.option {
  float: left;
}

.setting-box .values {
  padding: 24px;
  float: right;
}

.values input {
  margin-right: 9px;
}
