/* Style pour les options */
.signup-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 10px;
}

.sign-title-signup {
  padding-top: 60px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  margin-left: 50px;
  -webkit-animation: fadeInUp 1s ease forwards;
  animation: fadeInUp 1s ease forwards;
}

.sign-description-signup {
  margin-left: 30px;
  padding-top: 0px;
  font-size: 20px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  -webkit-animation: fadeInRight 0.5s ease forwards;
  animation: fadeInRight 0.5s ease forwards;
}

.left-section {
  padding-right: 50px;
  width: 45%; /* afin de diviser la page  */
  height: 100vh;
  background-color: #e2ebfc;
}

.left-section .img-signup {
  padding-top: 200px;
}

.logo-signup img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 200px;
  height: 200px;
}

.right-section {
  width: 60%;
  padding-right: 10px;
  height: 100vh;
  background-color: #1a2e62 !important ;
}

.signup-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.img-signup img {
  padding-top: 0px;
}
.sign-title {
  padding-top: 50px;
  font-weight: 900;
  color: #ffffff;
  text-shadow: 60px;
  -webkit-animation: fadeInUp 1s ease forwards;
  animation: fadeInUp 1s ease forwards;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.sign-description {
  padding-top: 10px;
  color: #9bbcff;
  font-size: 22px;
  -webkit-animation: fadeInRight 0.5s ease forwards;
  animation: fadeInRight 0.5s ease forwards;
}
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.sign-title,
.sign-description,
.selected-option-info {
  font-family: 'Montserrat', sans-serif;
}

.auth-form {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 20px;
  -webkit-box-shadow: 0 0 10px rgba(188, 112, 112, 0.2);
  box-shadow: 0 0 10px rgba(188, 112, 112, 0.2);
  display: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.auth-form form {
  max-width: 300px; /* Définissez une largeur maximale pour le formulaire */
  text-align: center;
}

.auth-form-signup .input-style {
  width: 70%;
  margin: 5px;
  margin-left: 30px;
  padding: 6px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.auth-form-signup .file-input-style {
  width: 70%;
  margin: 5px;
  margin-left: 30px;
  padding: 6px; /* Ajuster le padding pour le fond blanc */
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white; /* Ajouter le fond blanc */
}
